

.root{
    -fx-background-color:linear-gradient(#290002,#ff1900);
}
#bottomPane{
    -fx-background-color: #540003;
    -fx-background-radius: 5;     
}
#iconLabel{
    -fx-background-image: url('/images/LoginIcon.png');
    -fx-background-position: center;
    -fx-background-size: 100%;
}
#usernameIcon{
    -fx-background-image: url('/images/LoginIcon.png');
    -fx-background-position: center;
    -fx-background-size: 98%; 
    -fx-background-radius: 100;  
}
#passwordIcon{
    -fx-background-image: url('/images/passwordIcon.png');
    -fx-background-size: 110%;
    -fx-background-position: center;
    -fx-background-color: white;
    -fx-background-radius: 100;  
}
#signInButton{
    -fx-background-color:#000000;
    -fx-background-radius: 40;  
}
#signInButton:hover{
    -fx-background-color: #e80c00;
}