.root{
    -fx-background-color:linear-gradient(#03c4ff,#015e7a);
}
Button{
    -fx-border-width: 0.3;
    -fx-border-color:#0008ff;
    -fx-background-color: #03c4ff;
    -fx-border-radius:50;
    -fx-background-radius: 50;
}
Button:hover{
    -fx-background-color: #c9fbff;
}
TextField{
     -fx-background-color: transparan;
    -fx-border-color: #ffffff;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: whitesmoke;
}